@* <!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Create a Custom Postcard!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body> *@
        

            @model ToDoList.Models.Item

            <h4>Add a new task</h4>
            @using (Html.BeginForm())
            {
                @Html.LabelFor(model => model.Description)
                @Html.TextBoxFor(model => model.Description)
                <input type="submit" value="Add new task" />
            }
            <p>@Html.ActionLink("Show all items", "Index")</p>
@* </body>
</html> *@